/* ------------------------------ ELLA ------------------------------ */

/* -------------------- TYPOGRAPHY -------------------- */

h1 {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 900;
    color: #00B4D8;
}

h2 {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 900;
    color: #00B4D8;
}

h3 {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 900;
    color: #00B4D8;
}

h4 {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 900;
    color: #03045E;
}

h5 {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 900;
    color: #03045E;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 200;
    color: #03045E;
}

a {
    color: #90E0EF;
}

a:hover {
    color: #0077B6;
}

.about-me-link {
    font-weight: 500;
}

/* -------------------- ABOUT PAGE -------------------- */

.bg-colour {
    background-color: rgba(0, 180, 216, 0.10);
}

.contact-btn {
    padding-top: 20px;
}

.btn {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 200;
    font-size: 1.4em;
    color: #03045E;
    background-color: #90E0EF;
    padding: 10px 15px 10px 15px;
    border-radius: 10px 10px 10px 10px;
}

.btn:hover {
    color: #03045E;
    background-color: #CAF0F8;
}