/* ------------------------------ ETU ------------------------------ */


/* -------------------- TYPOGRAPHY -------------------- */

h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    color: #2CA5B5;
}

h4 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    color: #7D83FF;
}

p {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    color: #083D77;
}

a {
    color: #2CA5B5;
    font-weight: bold;
}

a:hover {
    color: #9FE79C;
    font-weight: bold;
}

.prev-next-button {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

/* -------------------- PROJECT PAGE -------------------- */

.project-hero {
    width: 70%;
    margin: auto;
}

.bg-image {
    background-image: url(assets/myprojects-page/etu-project-hero.svg);
}

.bg-colour {
    background-color: rgba(44, 165, 181, 0.10);
}

.header-font {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: #083D77;
}

.body-font {
    font-family: 'Nunito', sans-serif;
    color: #083D77;
}

@media screen and (max-width: 35.5em) {

    .project-hero {
        width: 90%;
    }

}