/* ------------------------------ EMMA TURNER ------------------------------ */


/* -------------------- TYPOGRAPHY -------------------- */

h2 {
    font-family: 'Source Serif 4', serif;
    font-weight: 800;
    color: #7D878D;
}

h4 {
    font-family: 'Source Serif 4', serif;
    font-weight: 800;
    color: #7D878D;
}

p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #7D878D;
}

a {
    color: #7D878D;
    font-weight: bold;
}

a:hover {
    color: #EFCBAF;
    font-weight: bold;
}

.header-font {
    font-family: 'Source Serif 4', serif;
    font-weight: bold;
    color: #7D878D;
}

.body-font {
    font-family: 'Raleway', sans-serif;
    color: #7D878D;
}

.prev-next-button {
    font-family: 'Source Serif 4', serif;
    font-weight: bold;
}

/* -------------------- PROJECT PAGE -------------------- */

.project-hero {
    width: 30%;
    margin: auto;
    padding-top: 200px;
    padding-bottom: 150px;
}

.bg-image {
    background-image: url(assets/myprojects-page/emmaturner-project-hero.svg);
}

.bg-colour {
    background-color: rgba(239, 203, 175, 0.15);
}

/* -------------------- MEDIA QUERY -------------------- */

@media screen and (max-width: 35.5em) {

    .project-hero {
        width: 50%;
        padding-top: 140px;
        padding-bottom: 90px;
    }

}