/* ------------------------------ EMMA WHYTE ------------------------------ */


/* -------------------- TYPOGRAPHY -------------------- */

h1 {
    font-family: 'Marcellus', serif;
    font-weight: 100;
    color: #199A39;
    font-size: 4.8em;
}

h2 {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 100;
    color: #199A39;
}

h4 {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 100;
    color: #199A39;
}

p {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 300;
    color: #000000;
}

/* -------------------- PROJECT PAGE -------------------- */

.project-hero {
    width: 60%;
    margin: auto;
    padding-top: 300px;
    padding-bottom: 250px;
}

.bg-image {
    background-color: rgba(43, 151, 43, 0.25);
}

.bg-colour {
    background-color: rgba(25, 154, 57, 0.10);
}

.project-btn {
    padding-top: 30px;
}

.btn {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    color: white;
    background-color: #199A39;
    padding: 10px 15px 10px 15px;
    border-radius: 10px 10px 10px 10px;
}

.btn:hover {
    color: white;
    background-color: rgba(25, 154, 57, 0.6);
}

/* -------------------- MEDIA QUERY -------------------- */

@media screen and (max-width: 35.5em) {

    .project-hero {
        width: 90%;
        padding-top: 180px;
        padding-bottom: 130px;
    }

}

@media screen and (min-height: 1200px) {

    footer {
        position:fixed;
        bottom:0;
        width:100%;
    }

}