/* ------------------------------ CSS ANIMATIONS ------------------------------ */

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fade-in-up {
  animation-name: fade-in-up;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.section-one-animation{
  animation-delay: 0.5s;
}

.section-two-animation{
  animation-delay: 1s;
}

.section-three-animation{
  animation-delay: 1.5s;
}

.section-four-animation{
  animation-delay: 2s;
}

.section-five-animation{
  animation-delay: 2.5s;
}

/* -------------------- MY PROJECTS -------------------- */

.card-top-row-animation {
  animation-delay: 2.5s;
}

.card-bottom-row-animation {
  animation-delay: 3s;
}

.card-container:hover {
  transition: all 0.3s ease-out;
  top: -10px;
}

.card-container {
  transition: all 0.3s ease-out;
}